.inicio-container {
  margin: 20px;
}

.column-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-gap: 10px;
}

.lista-capitulos {
  grid-column: 1 / span 1;
}

.lista-personajes {
  grid-column: 2 / span 1;
}

.notas {
  grid-column: 3 / span 1;
}